:root {
  --primary-blue: hsl(243, 87%, 12%);
  --secondary-blue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-blue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);
  --font-headings: 'Raleway', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  background-color: var(--primary-blue);
  font-family: var(--font-body);
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Hidden elements for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.site-wrapper {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 375px;
  padding-top: 2rem;
}

.inner-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media(min-width: 900px){
  .inner-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.header-logo {
  width: 85px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 185px;
  font-size: .9rem;
  font-family: var(--font-headings);
}

@media(min-width: 768px){
  .page-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

.img-wrapper {
  margin-bottom: 6rem;
}

@media(min-width: 768px){
  .img-wrapper {
    flex-basis: 45%;
    order: 2;
    align-self: baseline;
  }
}

.img-wrapper img {
  width: 400px;
  margin: 0 auto;
}

@media(min-width: 768px){
  .img-wrapper img {
    width: 100%;
  }
}

@media(min-width: 768px){
  .content-wrapper {
    flex-basis: 55%;
  }
}

.page-block__top .content-wrapper,
.page-block__bottom .content-wrapper h2  {
  text-align: center;
}

@media(min-width: 768px){
  .page-block__top .content-wrapper,
  .page-block__bottom .content-wrapper h2  {
    text-align: left;
  }
}

.page-block__bottom .content-wrapper h2 {
  width: 100%;
}

.content-wrapper h2,
.content-wrapper > p {
  margin: 0 auto 1.75rem;
}

@media(min-width: 376px){
  .content-wrapper h2,
  .content-wrapper > p {
    max-width: 330px;
  }
}

@media(min-width: 768px){
  .content-wrapper h2,
  .content-wrapper > p {
    margin-left: 0;
  }
}

@media (min-width: 900px){
  .content-wrapper > p {
    max-width: 490px;
  }
}

content-wrapper h2 {
  font-family: var(--font-headings);
  font-size: 1.65rem;
  font-weight: 700;
}

@media(min-width: 900px){
  .content-wrapper h2{
    font-size: 2.25rem;
  }

  .content-wrapper h2 {
    max-width: 575px;
  }
}

.content-wrapper p {
  font-size: .975rem;
}

.email-form input {
  border-radius: .25rem;
  display: block;
  font-family: var(--font-headings);
  font-size: 1rem;
  padding: .75rem 1.75rem;
  width: 100%;
}

@media(min-width: 376px){
  .email-form input {
    margin: 0 auto;
    width: 315px;
  }
}

@media(min-width: 768px){
  .email-form input {
    margin-left: 0;
  }
}

@media (min-width: 1200px){
  .page-block__top .email-form input {
    display: inline;
  }

  .page-block__top .email-form input:nth-child(2) {
    width: 200px;
  }
}

.page-block__newsletter .email-form input {
  width: 315px;
}

@media(min-width: 768px){
  .page-block__newsletter .email-form input:nth-child(1){
    width: 90%;
  }

  .page-block__newsletter .email-form input:nth-child(2) {
    max-width: 225px;
  }
}

.email-form input::-webkit-input-placeholder {
  color: var(--neutral-gray);
}

.email-form input::-moz-placeholder {
  color: var(--neutral-gray);
}

.email-form input:-ms-input-placeholder {
  color: var(--neutral-gray);
}

.email-form input::-ms-input-placeholder {
  color: var(--neutral-gray);
}

.email-form input::-webkit-input-placeholder {
  color: var(--neutral-gray);
}

.email-form input::placeholder {
  color: var(--neutral-gray);
} 

.email-form input:nth-child(1){
  border: 1px solid var(--secondary-blue);
  margin-bottom: .75rem;
}

.email-form input:nth-child(2){
  border: none;
  background-color: var(--accent-blue);
  font-weight: 700;
  color: #fff;
}

.email-form input:nth-child(2):hover {
  background-color: hsla(224, 93%, 58%, .85);
}

@media (min-width: 768px){
  .cta-form input{
    display: inline-block;
  }

  .cta-form input:nth-child(1){ 
    /* width: 50%; */
    /* width: 100%;*/
  }

  .cta-form input:nth-child(2){ 
    /* width: 30%; */
    /* width: 100%;*/
  }
} 

@media (min-width: 1024px){
  .cta-form input:nth-child(1){
    width: 55%;
  }

  .cta-form input:nth-child(2){
    width: 40%;
  }
}

.page-block__bottom {
  background-image: url('./assets/images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: 8rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.page-block__bottom .content-wrapper h2 {
  font-size: 1.125rem;
  color: var(--primary-blue);
}

@media(min-width: 900px){
  .page-block__bottom .content-wrapper h2 {
    font-size: 2rem;
  }
}

.cta {
  border-bottom: 1px solid var(--accent-cyan);
  margin: 2.5rem auto;
  padding-bottom: 0.25rem;
  width: 148px;
}

@media(min-width: 768px){
  .cta {
    margin-left: 0;
  }
}

.cta > * {
  color: var(--accent-cyan);
}

.cta > *:hover {
  opacity: .75;
}

.cta a {
  font-size: .875rem;
  text-decoration: none;
}

.cta img {
  display: inline-block;
  margin-left: .25rem;
  position: relative;
  top: 3px;
}

.testimonial-card {
  background-color: #fff;
  padding: 1.5rem;
  border: 0.25rem;
  width: 325px;
  margin: 0 auto;
  font-family: var(--font-headings);
}

@media(min-width: 768px){
  .testimonial-card {
    margin-left: 0;
  }
}

.testimonial-card > img,
.testimonial-card > p  {
  margin-bottom: 1rem;
}

.testimonial-card p {
  color: unset;
  font-size: .75rem;
  line-height: 1.6;
}

.testimonial-label {
  display: flex;
  align-items: center;
}

.testimonial-label img {
  border-radius: 50%;
  width: 40px;
  margin-right: .75rem;
}

.testimonial-author p:nth-child(1) {
  font-weight: 700;
}

.page-block__newsletter {
  background-color: var(--secondary-blue);
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: var(--neutral-blue);
}

@media(min-width: 768px){
  .page-block__newsletter {
    display: flex;
    text-align: left;
  }

  .page-block__newsletter .email-form {
    flex-basis: 45%;
  }
}

.page-block__newsletter h3 {
  font-family: var(--font-headings);
  font-weight: 700;
  font-size: 1.35rem;
}

.page-block__newsletter h3,
.page-block__newsletter  p {
  margin: 0 auto 1.5rem auto;
}

.page-block__newsletter  p {
  font-size: 1.125rem;
  max-width: 330px;
}

@media(min-width: 768px){
  .page-block__newsletter p {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media(min-width: 1024px){
  .page-block__newsletter p {
    max-width: 485px;
  }
}

footer {
  background-color: var(--primary-blue);
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: var(--neutral-blue);
}

.footer-logo-wrapper {
  margin-bottom: 2rem;
}

footer nav ul {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

footer nav ul li {
  margin-bottom: 1rem;
}

@media (min-width: 768px){
  footer nav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
  }

  .footer-logo-wrapper,
  footer nav ul {
    margin-bottom: 1rem;
  }

  footer nav ul li {
    margin-bottom: .75rem;
  }
}

footer nav ul li:hover {
  color: var(--accent-blue);
}

footer nav ul li img {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 120px;
}

@media (min-width: 768px){
  .social-list {
    margin: 0;
  }
}

.social-item {
  align-items: center;
  border: 1px solid var(--neutral-blue);
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: .5rem;
  width: 30px;
}

.social-item:hover {
  border: 1px solid var(--accent-blue);
} 

.fm-attribution-row {
  padding-bottom: 2rem;
  text-align: center;
  background-color: var(--primary-blue);
}

@media (min-width: 768px){
  .fm-attribution-row {
    text-align: left;
  }
}

.fm-attribution {
  font-size: .75rem;
  color: var(--neutral-blue);
  letter-spacing: 1px;
}

.fm-attribution a {
  color: var(--neutral-blue);
}
