:root {
  --primary-blue: hsl(243, 87%, 12%);
  --secondary-blue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-blue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);
  --font-headings: 'Raleway', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Hidden elements for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.site-wrapper {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 375px;
  padding-top: 2rem;
}

.inner-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}


header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.header-logo {
  width: 85px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 185px;
  font-size: .9rem;
  font-family: var(--font-headings);
}

.top-shelf {
  margin-bottom: 8rem;
}

.top-shelf__img-wrapper {
  margin-bottom: 3rem;
}

.top-shelf__img-wrapper img,
.bottom-shelf__img-wrapper img {
  width: 350px;
  margin: 0 auto;
}

.top-shelf__content-wrapper > * {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.top-shelf__content-wrapper h2 {
  font-family: var(--font-headings);
  font-size: 1.65rem;
  font-weight: 700;
}

.top-shelf__content-wrapper p {
  font-size: 1.12rem;
}

.top-shelf__cta-form input {
  border-radius: .25rem;
  display: block;
  font-family: var(--font-headings);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  width: 100%;
}

.top-shelf__cta-form input::-webkit-input-placeholder {
  color: var(--neutral-gray);
}

.top-shelf__cta-form input::-moz-placeholder {
  color: var(--neutral-gray);
}

.top-shelf__cta-form input:-ms-input-placeholder {
  color: var(--neutral-gray);
}

.top-shelf__cta-form input::-ms-input-placeholder {
  color: var(--neutral-gray);
}

.top-shelf__cta-form input::placeholder {
  color: var(--neutral-gray);
}

.top-shelf__cta-form input:nth-child(1){
  border: 1px solid var(--secondary-blue);
}

.top-shelf__cta-form input:nth-child(2){
  border: none;
  background-color: var(--accent-blue);
  font-weight: 700;
  color: #fff;
}

.bottom-shelf {
  background-image: url('/assets/images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.bottom-shelf__img-wrapper {
  margin-bottom: 8rem;
}

.bottom-shelf__content-wrapper h2 {
  text-align: center;
  font-size: 1.125rem;
  font-family: var(--font-headings);
  font-weight: 700;
  color: var(--primary-blue);
}

.bottom-shelf__content-wrapper > * {
  margin-bottom: 1.5rem;
}

.cta {
  border-bottom: 1px solid var(--accent-cyan);
  margin: 2.5rem auto;
  padding-bottom: 0.25rem;
  width: 148px;
}

.cta > * {
  color: var(--accent-cyan);
}

.cta >*:hover {
  opacity: .75;
}

.cta a {
  font-size: .875rem;
  text-decoration: none;
}

.cta img {
  display: inline-block;
  margin-left: .25rem;
  position: relative;
  top: 3px;
}

.testimonial-card {
  background-color: #fff;
  padding: 1.5rem;
  border: 0.25rem;
  width: 325px;
  margin: 0 auto;
  font-family: var(--font-headings);
}

.testimonial-card > img,
.testimonial-card > p  {
  margin-bottom: 1rem;
}

.testimonial-card p {
  color: unset;
  font-size: .75rem;
  line-height: 1.6;
}

.testimonial {
  display: flex;
  align-items: center;
}

.testimonial img {
  border-radius: 50%;
  width: 40px;
  margin-right: .75rem;
}

.testimonial-byline p:nth-child(1) {
  font-weight: 700;
}

.newsletter {
  background-color: var(--secondary-blue);
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: var(--neutral-blue);
}

.newsletter h3 {
  font-family: var(--font-headings);
  font-weight: 700;
  font-size: 1.25rem;
}

.newsletter h3,
.newsletter p {
  margin-bottom: 2rem;
}

.newsletter p {
  font-size: 1.2rem;
}

.newsletter__cta-form input {
  display: block;
  width: 75%;
  margin: 0 auto 1rem auto;
  padding: 1rem 2rem;
  font-family: var(--font-headings);
  font-size: 1rem;
  border-radius: .25rem;
}

.newsletter__cta-form input::-webkit-input-placeholder {
  color: var(--neutral-gray);
}

.newsletter__cta-form input::-moz-placeholder {
  color: var(--neutral-gray);
}

.newsletter__cta-form input:-ms-input-placeholder {
  color: var(--neutral-gray);
}

.newsletter__cta-form input::-ms-input-placeholder {
  color: var(--neutral-gray);
}

.newsletter__cta-form input::placeholder {
  color: var(--neutral-gray);
}

.newsletter__cta-form input:nth-child(1){
  border: 1px solid var(--secondary-blue);
}

.newsletter__cta-form input:nth-child(2){
  border: none;
  background-color: var(--accent-blue);
  font-weight: 400;
  color: #fff;
}

.top-shelf__cta-form input:nth-child(2):hover,
.newsletter__cta-form input:nth-child(2):hover {
  background-color: hsla(224, 93%, 58%, .55);
}

footer {
  background-color: var(--primary-blue);
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--neutral-blue);
}

.footer-logo-wrapper {
  margin-bottom: 2rem;
}

/* .footer-logo {
  width: 200px;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(100%) contrast(104%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(100%) contrast(104%);
} */

footer nav ul {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

footer nav ul li {
  margin-bottom: 1rem;
}

footer nav ul li:hover {
  color: var(--accent-blue);
}

li img {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 120px;
}

.social-item {
  align-items: center;
  border: 1px solid var(--neutral-blue);
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: .5rem;
  width: 30px;
}

.fm-attribution-row {
  background-color: var(--primary-blue);
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.fm-attribution {
  font-size: .75rem;
  color: var(--neutral-blue);
  letter-spacing: 1px;
}

.fm-attribution a {
  color: var(--neutral-blue);
}
